<!doctype html>
<html class='no-js' lang='en'>

<head>
  <meta charset='utf-8' />
  <title>Trust Payments Example Form</title>
  <meta name='description' content='Trust Payments example page with form'>
  <meta name='viewport'
        content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <link rel='icon' href='/img/favicon.webp' sizes='32x32'>
  <link rel='icon' href='/img/favicon.webp' sizes='192x192'>
  <link rel='apple-touch-icon' href='/img/favicon.webp'>
</head>

<body>

<main>
  <header class='st-header'>
    <figure class='st-header__logo'>
      <img src='/img/trustpayments.png' alt='Trust Payments logo' title='Trust Payments' role='img'>
    </figure>
    <h1 class='st-header__title'>Example Form</h1>
  </header>

  <form role='form' name='st-form' id='st-form' action='https://www.example.com' class='st-form' autocomplete='off'
        novalidate>

    <div id='st-popup' class='st-popup'></div>

    <div id='st-notification-frame' class='st-form__group'></div>

    <div id='st-browser-info' class='st-form__group'></div>

    <fieldset class='st-form__fieldset'>
      <legend>Card details:</legend>
      <div class='st-form__section'>
        <div class='st-form__field'>

          <label for='st-form-card-no' class='st-form__label'>
            Card no:
            <abbr title='required' aria-label='required'>*</abbr>
          </label>

          <input type='text'
                 name='cardNo'
                 id='st-form-card-no'
                 class='st-form__input'
                 placeholder='Card no'
                 data-st-name='cardno'
          />
        </div>
        <div class='st-form__field'>
          <label for='st-form-exp-date' class='st-form__label'>
            Expiry date:
            <abbr title='required' aria-label='required'>*</abbr>
          </label>
          <input type='text'
                 name='expDate'
                 id='st-form-exp-date'
                 class='st-form__input'
                 placeholder='expDate'
                 data-st-name='expdate'
          />
        </div>
        <div class='st-form__field'>
          <label for='st-form-security-code' class='st-form__label'>Security code: </label>
          <input type='text'
                 name='securityCode'
                 id='st-form-security-code'
                 class='st-form__input'
                 placeholder='securityCode'
                 data-st-name='securitycode'
          />
        </div>
      </div>
    </fieldset>

    <ul style="list-style-type: none; padding-left: 0;" id="additional-effects">
      <li><input type="checkbox" value="pay-html">Return HTML</li>
      <li><input type="checkbox" value="pay-eval">Return eval JS</li>
      <li><input type="checkbox" value="pay-eval-err">Return eval JS with errors</li>
    </ul>

    <div class='st-form__group st-form__group--submit'>
      <button type='submit'>Zapłać</button>
    </div>
  </form>

  <footer class='st-footer'>
    <p>&copy; Trust Payments 2020</p>
  </footer>
</main>
<script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
<script type='text/javascript' src='<%= LIBRARY_URL %>/st.js'></script>
<script type="text/javascript">
  function getJwt() {
    const pan = $('#st-form-card-no').val();
    const expirydate = $('#st-form-exp-date').val();
    const securitycode = $('#st-form-security-code').val();
    return window.configJWT('<%= CONFIG_URL %>/jwtdata.json', { pan, expirydate, securitycode, baseamount: Math.round(Math.random()*10000) });
  }

  function displayPopup(id, text, bgColor) {
    var popup = document.getElementById('st-popup');
    var content = buildPopup(id, text, bgColor);
    popup.appendChild(content);
    setTimeout(function() {
      popup.removeChild(content);
    }, 8000);
  }

  function setCallbacks(config) {
    config.submitCallback = function(data) {
      var stringified = JSON.stringify(data);
      var testVariable = 'This is what we have got after submit' + stringified;
      displayPopup('data-popup', 'Error code: ' + (!data || data.errorcode != '0' ? 'Error' : 'OK'), 'blue');
      displayPopup('data-popup-jwt', 'JWT: ' + data.jwt, 'blue');
      displayPopup('data-popup-threedresponse', 'THREEDRESPONSE: ' + data.threedresponse, 'blue');

      window.displayCallbackCounter('submit-callback-counter', 'submit', 'blue');
      console.error(testVariable);
    };
    config.successCallback = function() {
      displayPopup('success-popup', 'This is success message', 'green');
      window.displayCallbackCounter('success-callback-counter', 'success', 'green');
    };
    config.errorCallback = function() {
      displayPopup('error-popup', 'This is error message', 'red');
      window.displayCallbackCounter('error-callback-counter', 'error', 'red');
    };
    config.cancelCallback = function() {
      displayPopup('cancel-popup', 'This is cancel message', '#ffc23a');
      window.displayCallbackCounter('cancel-callback-counter', 'cancel', '#ffc23a');
    };
  }

  function buildPopup(id, text, bgColor) {
    var popupStyling = 'display: flex; justify-content: center; position: fixed; height: 70px;right:0;color: white;padding: 0 50px;align-items: center;border-radius: 10px;font-family: Verdana;font-size: 20px;z-index:2';
    var div = document.createElement('div');
    div.innerText = text;
    div.setAttribute('id', id);
    div.setAttribute('style', popupStyling);
    div.style.backgroundColor = bgColor;
    switch (bgColor) {
      case 'green':
        div.style.top = 0;
        break;
      case 'blue':
        div.style.top = '100px';
        break;
      default:
        div.style.bottom = 0;
    }

    return div;
  }
</script>
</body>
</html>
