.project-infrastructure-cicd-ref: &project-infrastructure-cicd-ref 42.0.13

.project-infrastructure-cicd: &project-infrastructure-cicd
  project: securetrading-gl/st-server-project/project-infrastructure-cicd
  ref: *project-infrastructure-cicd-ref

include:
  - file: /cicd_js.yml
    <<: *project-infrastructure-cicd

  - local: '/.gitlab/others/services.yml'
  - local: '/.gitlab/build/sdk.yml'
  - local: '/.gitlab/build/example-app-html.yml'
  - local: '/.gitlab/build/example-app-others.yml'
  - local: '/.gitlab/post-build/image-html.yml'
  - local: '/.gitlab/post-build/image-other.yml'
  - local: '/.gitlab/post-build/publish-to-cdn.yml'
  - local: '/.gitlab/fast-tests/functional.yml'
#  - local: '/.gitlab/fast-tests/security.yml'
  - local: '/.gitlab/fast-tests/js-static-analysis.yml'
  - local: '/.gitlab/extended-tests.yml'
  - local: '/.gitlab/post-release.yml'
  - local: '/.gitlab/smoke/build-images.yml'
  - local: '/.gitlab/smoke/tests.yml'

variables:
  PROJECT_INFRASTRUCTURE_CICD_REF: *project-infrastructure-cicd-ref

  PROJECT_PYTHON_TESTS: 'tests'

  IMAGE_JS_PAYMENTS_APP_HTML_RELEASE: ${CI_REGISTRY_IMAGE}/app-html-release:${CI_PIPELINE_ID}
  IMAGE_JS_PAYMENTS_APP_HTML_REVIEW: ${CI_REGISTRY_IMAGE}/app-html-review:${CI_PIPELINE_ID}
  IMAGE_JS_PAYMENTS_APP_HTML_SMOKE: ${CI_REGISTRY_IMAGE}/app-html-smoke:${CI_PIPELINE_ID}
  IMAGE_JS_PAYMENTS_APP_HTML_MOCK: ${CI_REGISTRY_IMAGE}/app-html-mock:${CI_PIPELINE_ID}

  IMAGE_JS_PAYMENTS_TESTS: ${CI_REGISTRY_IMAGE}/payments-tests:${CI_PIPELINE_ID}
  IMAGE_JS_PAYMENTS_WIREMOCK: ${CI_REGISTRY_IMAGE}/wiremock:${CI_PIPELINE_ID}

  SMOKE_MOCK_TESTS_TAG: '@smoke_mock_test'
  SMOKE_E2E_TESTS_TAG: '@smoke_e2e_test'
  VISUAL_ACS_POPUP_TESTS_TAG: '@visual_acs_popup_regression'
  VISUAL_TESTS_TAG: '@visual_regression'
  VISUAL_STYLING_TESTS_TAG: '@visual_regression_styling'
  VISUAL_TESTS_SAFARI_TAG: '@visual_regression_safari'
  VISUAL_STYLING_TESTS_SAFARI_TAG: '@visual_regression_styling_safari'
  SMOKE_TESTS_WITH_APPLE_PAY: '@smoke_component_test,@apple_pay_smoke_test'
  ARTIFACT_RELEASE_DESCRIPTION_TYPE: "EXTENDED"

  ### Disabled Jobs:
  # Initialize
  # DISABLE_JOB_copy_cicd_scripts: 'true'
  DISABLE_JOB_notify_platform_team: 'true'
  # Pre-build
  # DISABLE_JOB_print_variables: 'true'
  # DISABLE_JOB_export_cleanup_artifacts: 'true'
  # DISABLE_JOB_docker_images_build: 'true'
  # DISABLE_JOB_docker_images_pull: 'true'
  # Prepare-release
  # DISABLE_JOB_generate_version_review: 'true'
  # DISABLE_JOB_generate_version_release: 'true'
  # Build
  # utility-images-build - No need to disabling. Extends to enable.
  # Fast Tests
  # DISABLE_JOB_check_schedules: true'
  DISABLE_JOB_unit_tests: 'true'
  DISABLE_JOB_js_static_analysis: 'true'
  DISABLE_JOB_py_static_analysis: 'true' # TODO STJS-950
  DISABLE_JOB_vuln_check: 'true'
  # Extended Tests
  # DISABLE_JOB_extended_tests: 'true'
  # Validate merge request description
  # DISABLE_JOB_validate_merge_request_description: 'true'
  # Release
  # DISABLE_JOB_release: 'true'
  # Post Release
  # DISABLE_JOB_configure_schedules: 'true'
  ### Disabled Jobs : End

  ### Schedules configuration - If you want to use defaults, don't create SCHEDULES_CONFIGURATION variable
  SCHEDULES_CONFIGURATION: |
    SCHEDULED_MASTER_BUILD:
      enabled: false
    SCHEDULED_SMOKE_TESTS:
      enabled: false
    SCHEDULED_NIGHTLY_TESTS_SUPERVISOR:
      enabled: true
      cron: 0 17 * * *
      cron_random: 0
    SCHEDULED_NIGHTLY_TESTS_WORKER:
      enabled: true
    SCHEDULED_PACT_VERIFICATION:
      enabled: false
    SCHEDULED_HOTFIX_BRANCH_TESTS_SUPERVISOR:
      enabled: false
    SCHEDULED_HOTFIX_BRANCH_TESTS_WORKER:
      enabled: false
    SCHEDULED_RENOVATE_TRIGGER:
      enabled: true
      active: true
      variables:
        - variable_type: env_var
          key: DEPENDENCY_UPDATE_AUTO_MERGE
          value: 'true'
  ### Schedules configuration : End

  ##### Others - project specific #####
  # BUILD_IMAGES: "true"
  # CI_DEBUG_TRACE: "true" # For CI/CD extra logs (like actually using variables)
  # LOG_LEVEL: DEBUG # For bash and python scripts

stages:
  - initialize
  - pre-build
  - prepare-release
  - build
  - post-build
  # Tests
  - fast-tests
  - extended-tests
  - validate-merge-request-description
  # Scheduled tests supervisor
  - scheduled-supervisor-prepare
  - scheduled-supervisor-check
  # Scheduled renovate trigger
  - scheduled-renovate-trigger
  # Release package
  - release
  - post-release
  # Smoke tests
  - smoke-build-app
  - smoke-build-images
  - smoke-tests
