<div class="st-form-container">
  <div id="st-security-code-tokenized" class="security-code">
    <label
      id="st-security-code-tokenized-label"
      for="st-security-code-tokenized-input"
      class="security-code__label security-code__label--required"
    >
    </label>
    <div class="st-security-code__wrapper" id="st-security-code-tokenized-wrapper">
      <input
        id="st-security-code-tokenized-input"
        class="security-code__input"
        type="text"
        autocomplete="cc-csc"
        autocorrect="off"
        spellcheck="false"
        inputmode="numeric"
        required
      />
      <div id="st-security-code-tokenized-message" class="security-code__message"></div>
      <div class="security-code__autocomplete">
        <input id="st-security-code-input-autocomplete-capture-expiration-date" type="text" autocomplete="cc-exp"
               tabindex="-1" inputmode="none" />
        <input id="st-security-code-input-autocomplete-capture-number" type="text" autocomplete="cc-number"
               tabindex="-1" inputmode="none" />
      </div>
    </div>
  </div>
</div>
