<app-page-title></app-page-title>

<div *ngIf="config$ | async as config; else loading">
  <app-tokenized-card-payment-form [config]="config"></app-tokenized-card-payment-form>
  <app-payment-form
    [config]="config"
    [pageOptions]="pageOptions">
  </app-payment-form>
</div>


<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner diameter="32" mode="indeterminate" color="accent"></mat-spinner>&nbsp;
    <span>Loading the payment form, please wait...</span>
  </div>
</ng-template>
