<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8"/>
  <title>Trust Payments Minimal Example Form</title>
  <meta name="description" content="Trust Payments example page with form">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="icon" href="./img/favicon.webp" sizes="32x32">
  <link rel="icon" href="./img/favicon.webp" sizes="192x192">
  <link rel="apple-touch-icon" href="./img/favicon.webp">
</head>

<body>
<main class="tp-minimal-form-example">
    <form id="st-form" class="tp-minimal-form">
        <h1>Trust Payments Minimal Example Form</h1>
        <div id="st-notification-frame"></div>
        <div id="st-card-number"></div>
        <div id="st-expiration-date"></div>
        <div id="st-security-code"></div>
        <div id="st-control-frame"></div>
        <div id="st-animated-card" class="st-form__st-animated-card"></div>
        <div id="st-visa-checkout" class="st-form__group"></div>
        <div id="st-apple-pay" class="st-form__group"></div>
        <div id="st-google-pay" class="st-form__group"></div>
        <div id="st-apm" class="st-form__group"></div>

        <button type="button" id="update-button" class="tp-minimal-form__button">Update JWT</button>
        <button type="submit" id="merchant-submit-button" class="tp-minimal-form__button">Pay</button>
    </form>
</main>
<script type="text/javascript" src="<%= LIBRARY_URL %>/st.js"></script>
<script type="text/javascript" src="./inlineConfig.js"></script>
<script type="text/javascript">
  (function (ST) {
    window.addEventListener('load', function () {
      var params = new URLSearchParams(window.location.search.substring(1));
      var inlineConfig = params.get('inlineConfig') ? JSON.parse(params.get('inlineConfig')) : '';
      var inlineConfigApm = params.get('inlineConfigApm') ? JSON.parse(params.get('inlineConfigApm')) : '';
      var jwt = params.get('jwt') || '';
      var updatedJwt = params.get('updatedJwt') || '';

      Promise.all([getConfig(),getAPMsConfig()])
        .then(function(configs) {
          init(configs);
        });

      function getConfig() {
        if (inlineConfig) {
          return Promise.resolve(inlineConfig);
        }

        return window
          .fetch('<%= CONFIG_URL %>/config.json')
          .then(function (response) {
            if (response.status !== 200) {
              return Promise.reject('Failed to load configuration file!');
            }

            return response.json();
          })
          .then(function (config) {
            return getJwt(config).then(function (jwt) {
              return Object.assign(config, { jwt: jwt });
            });
          })
          .catch(function (error) {
            console.error(error);
          });
      }

      function getAPMsConfig() {
        if (inlineConfigApm) {
          return Promise.resolve(inlineConfigApm);
        }

        return window
          .fetch('<%= CONFIG_URL %>/configAPMs.json')
          .then(function(response) {
            if (response.status !== 200) {
              return Promise.reject('Failed to load APMs configuration file!');
            }

            return response.json()
          })
          .catch(function(error) {
            console.error(error);
          });
      }

      function getJwt(config) {
        var presetJwt = jwt || config.jwt;

        if (presetJwt) {
          return Promise.resolve(presetJwt);
        }

        return window.configJWT('<%= CONFIG_URL %>/jwtdata.json');
      }

      function init(configs) {
        var config = configs[0];
        var apmConfig = configs[1];
        setCallbacks(config);
        var st = ST(config);
        st.Components(config.components);
        st.VisaCheckout(config.visaCheckout);
        st.ApplePay(config.applePay);
        updateJwtListener(st, updatedJwt);

        if (apmConfig) {
          st.APM(apmConfig);
        }
      }

      function updateJwtListener(st, updatedJwt) {
        document.getElementById('update-button').addEventListener('click', function () {
            st.updateJWT(updatedJwt);
          }
        );
      }

      function setCallbacks(config) {
        config.submitCallback = function () {
          console.error('This is submitCallback function');
        };
        config.successCallback = function () {
          console.error('This is successCallback function');
        };
        config.errorCallback = function () {
          console.error('This is errorCallback function');
        };
        config.cancelCallback = function () {
          console.error('This is cancelCallback function');
        };
      }
    });
  })(SecureTrading);
</script>
</body>
</html>
