.tp-minimal-form-example {
  display: flex;
}

.tp-minimal-form {
  margin: auto;

  &__button {
    max-width: 100px;
  }
}

#seon-font,
#seon-off,
.disconnect-highlighted,
.ddg-extension-hide {
  display: none;
}
