@import "./_modals";

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $color-body;

  /* prettier-ignore */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.error-field {
  background-color: #f8d7da;
  color: #721c24;
  border-color: $border-color-notification-error;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

.error-label {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #ff4545;
}

@-webkit-keyframes autofill {
  to {
    background-color: #f8d7da;
    color: #721c24;
    border-color: $border-color-notification-error;
  }
}

input:-webkit-autofill.error-field {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.st-button-submit__disabled {
  opacity: .5;
  cursor: not-allowed;

  &:hover {
    background: transparent;
  }
}

.st-input {
  &--disabled {
    opacity: .5;
    cursor: not-allowed;
    background: transparent;
  }
}

.st-card-icon {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
}

.st-card-number,
.st-expiration-date,
.st-security-code {
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 45px;
  }

  &--lined-up {
    display: table-cell;
    vertical-align: top;
    height: 100vh;

    .st-security-code__wrapper,
    .st-expiration-date__wrapper,
    .st-card-number__wrapper {
      display: table-cell;
      width: calc(100vw - 105px);
      padding: 0;
      min-width: auto;
    }
  }
}

.st-form-container {
  display: table;
  width: 100%;
  height: 100%;
}

.card-number,
.expiration-date,
.security-code {
  padding: 0;
  display: table-cell;
  vertical-align: top;

  &__label.lined-up {
    display: table-cell;
    width: 100px;
    margin: 0;
    text-align: right;
  }
}

.st-cards {
  .st-card, .st-add-card {
    align-items: center;
    border: solid 1px #d6d6d6;
    cursor: pointer;
    height: 40px;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 5px;
  }

  .st-card {
    display: flex;
  }

  .st-add-card {
    display: block;
    height: auto;
    justify-content: space-between;
    min-height: 40px;
  }

  .st-card--inactive {
    cursor: auto;
    opacity: 0.5;
  }

  .st-card__checkbox {
    display: flex;
    height: 27px;
    margin-right: 10px;
    width: 27px;
  }

  .st-card__logo {
    display: flex;
    padding-right: 10px;
    border-right: solid 1px #737373;

    img {
      height: 24px;
    }

  }

  span.st-card__image {
    display: flex;
  }

  span.st-card__type {
    display: flex;

    img {
      height: 24px;
    }

  }

  span.st-card__description, span.st-add-card__label {
    color: #000 !important;
    display: flex;
    flex-grow: 2;
    font-size: 10px;
    font-weight: 600;
    min-width: 100px;
    padding-left: 10px;
  }

  span.st-add-card__button {
    display: inline-block;
  }

  span.st-add-card__label {
    font-size: 12px;
    line-height: 40px;
    padding: 0;
  }

  button.st-add-card__button {
    background-color: #cef0e3;
    border-style: none;
    cursor: pointer;
    color: #24de96;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    width: 60px;
  }

  .st-add-card__details {
    box-sizing: border-box;
  }

  .st-add-card__label {
    box-sizing: border-box;
    display: block;
  }

  div.st-add-card__label {
    display: flex;
  }

  div.st-add-card__details {
    display: none;
    font-size: 12px;
    margin: 5px 0;

    input, select {
      border-radius: 2px;
      border: solid 1px #d6d6d6;
      box-sizing: border-box;
      width: 100%;
    }

    input[name='cvv'] {
      width: 30%;
    }
  }

  .st-add-card__details-asterix::after {
    color: red;
    content: "\002A";
  }

  span.st-add-card__details-element {
    box-sizing: border-box;
    display: inline-block;
    width: calc(50% - 2px);
    color: #000;
  }

}

input[type="radio"] {
  display: none;
}

.radio {
  accent-color: green;
  appearance: none;
  border-radius: 27px;
  border: 4px solid green;
  display: inline-block;
  height: 27px;
  box-sizing: border-box;
  position: relative;
  width: 27px;
}

input:checked + .radio {
  background: green;
}

input:checked + .radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\2713";
  font-size: 20px;
  color: white;
}

.st-ctp-user-details__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.st-ctp-user-details__image {
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
  transform: translate(0, -2px);
}

.st-ctp-user-details__information {
  font-size: 22px;
}

.st-ctp-user-details__not--you {
  font-size: 14px;
  color: #e71b59;
  transition: .3s;
  cursor: pointer;

  &:hover {
    color: rgba(231, 27, 89, 0.8);
  }
}