<app-page-title title="Contact Data"></app-page-title>

<form role="form"
      class="st-form"
      autocomplete="off"
      fxLayout="column"
      novalidate>

  <fieldset class="st-form-fieldset">
    <legend>Contact data:</legend>
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="outline" color="accent" fxFlex>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="test@mail.com"/>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" fxFlex>
        <mat-label>Phone</mat-label>
        <input matInput type="tel" placeholder="+00 000 000 000"/>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="outline" color="accent" fxFlex>
        <mat-label>Street</mat-label>
        <input matInput type="text" placeholder="Park Str."/>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" fxFlex>
        <mat-label>City</mat-label>
        <input matInput type="text" placeholder="Richmond"/>
      </mat-form-field>
    </div>
  </fieldset>

  <button mat-flat-button color="accent" type="submit" fxFlex routerLink="/payment">Continue</button>
</form>
