.st-apm-button {
  display: inline-block;
  appearance: none;
  background: transparent;
  height: 40px;
  width: auto;
  cursor: pointer;
}

.st-apm-button + .st-apm-button {
  margin-left: 8px;
}

.st-apm-button__img {
  height: 100%;
}

.st-apm-button__button {
  border-width: 0;
  cursor: pointer;
  height: 100%;
}
