@import "../../src/shared/styles/scss/variables";
@import "../../src/shared/styles/scss/placeholders";

.st-header {
  padding: 0 15px;
}

.st-form__section--horizontal {
  flex-wrap: wrap;
}

.st-form__field {
  width: 48%;
  margin: 0;
}

.st-form__input {
  padding: 0.8rem;
}

.st-form__group--submit {
  margin-left: auto;
  flex-direction: column;

  #merchant-submit-label {
    margin-top: 10px;
  }
}

.st-form__button {
  background-color: #e71b59;
  color: #fff;
  border: 0;
  padding: 1.6rem 3.5em;
  margin: 20px 0 0 auto;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;

  #ctp-logo {
    margin: 0 5px;
  }

  &:hover {
    background-color: rgba(231, 27, 89, 0.8);
  }
}

.st-form__actions--wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.st-form__visa--ctp {
  border: 3px solid #d9d9d9;
  background-color: #f0f0f0;
  max-width: 50%;
  border-radius: 13px;
  padding: 1rem;
  margin-top: 20px;

  span, a {
    color: #e71b59;
    cursor: pointer;
  }
}

.st-form-expiry-date-wrapper {
  display: flex;
  justify-content: space-between;

  .st-form__input {
    max-width: 45%;
  }
}

.st-form__fieldset-wrapper {
  display: flex;

  @media(max-width: 500px) {
    flex-direction: column;
  }

  fieldset {
    margin: 15px 2px;
  }
}

#st-form .hidden {
  display: none;
}

#st-ctp-login {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 25px;
}

.st-add-card__pan-validation {
  @extend %message;
  visibility: visible;
}
