{
  "iat": 1592298893548,
  "iss": "test",
  "secret": "test",
  "payload": {
    "baseamount": "70000",
    "accounttypedescription": "ECOM",
    "currencyiso3a": "GBP",
    "locale": "en_GB",
    "sitereference": "test_jsmanualcardinal91921",
    "requesttypedescriptions": [
      "THREEDQUERY",
      "AUTH"
    ],
    "credentialsonfile": "2",
    "parenttransactionreference": "56-9-2178409"
  }
}