{
  "placement": "st-apm",
  "apmList": [
    "ATA",
    "ALIPAY",
    "BANCONTACT",
    "BITPAY",
    "EPS",
    "GIROPAY",
    "IDEAL",
    "MULTIBANCO",
    "MYBANK",
    "PAYU",
    "POSTFINANCE",
    "PRZELEWY24",
    "REDPAGOS",
    "SAFETYPAY",
    "SEPADD",
    "SOFORT",
    "TRUSTLY",
    "UNIONPAY",
    "WECHATPAY",
    "ZIP"
  ]
}
